@model WebFramework.Models.TaskManagement.WorkManagement.WorkList.WorkListWorkListPartialViewModel
@using Framework.DTOs.WorkManagementDto.WorkList.WorkListIndex
<table id="tasks" class="responsive-table dataTable display highlight" cellspacing="0">
    <thead>
        <tr>
            <th class="action">Hành động</th>
            @if (nameof(WorkDto.WorkName) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.WorkName)" class="sorting_@Model.SortingAction">Tên công việc</th>
            }
            else
            {
                <th name="@nameof(WorkDto.WorkName)" class="sorting">Tên công việc</th>
            }

            @if (nameof(WorkDto.PriorityName) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.PriorityName)" class="sorting_@Model.SortingAction">Mức độ ưu tiên</th>
            }
            else
            {
                <th name="@nameof(WorkDto.PriorityName)" class="sorting">Mức độ ưu tiên</th>
            }
            <th name="@nameof(WorkDto.NumberOfTask)">Tổng số task</th>
            <th name="@nameof(WorkDto.NumberOfUnFinishTask)">Chưa hoàn thành</th>
            @if (nameof(WorkDto.WorkCreationUserName) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.WorkCreationUserName)" class="sorting_@Model.SortingAction">Người tạo</th>
            }
            else
            {
                <th name="@nameof(WorkDto.WorkCreationUserName)" class="sorting">Người tạo</th>
            }

            @if (nameof(WorkDto.WorkCreationTime) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.WorkCreationTime)" class="sorting_@Model.SortingAction">Ngày bắt đầu</th>
            }
            else
            {
                <th name="@nameof(WorkDto.WorkCreationTime)" class="sorting">Ngày bắt đầu</th>
            }

            @if (nameof(WorkDto.WorkTimeExpired) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.WorkTimeExpired)" class="sorting_@Model.SortingAction">Deadline</th>
            }
            else
            {
                <th name="@nameof(WorkDto.WorkTimeExpired)" class="sorting">Deadline</th>
            }

            @if (nameof(WorkDto.WorkModifiedTime) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.WorkModifiedTime)" class="sorting_@Model.SortingAction">Chỉnh sửa lần cuối</th>
            }
            else
            {
                <th name="@nameof(WorkDto.WorkModifiedTime)" class="sorting">Chỉnh sửa lần cuối</th>
            }

            @if (nameof(WorkDto.WorkStatusDecription) == Model.ColumnSortingName)
            {
                <th name="@nameof(WorkDto.WorkStatusDecription)" class="sorting_@Model.SortingAction">Trạng thái</th>
            }
            else
            {
                <th name="@nameof(WorkDto.WorkStatusDecription)" class="sorting">Trạng thái</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var work in Model.Works)
        {
            <tr data-id="@work.WorkId" class="collection-item">
                @if (work.CanEdit)
                {
                    <td class="center action">
                        <a class="orange-text tooltipped edit-button edit-row" data-position="top" data-delay="50" data-tooltip="Chỉnh sửa">
                            <i class="material-icons">mode_edit</i>
                        </a>
                        <a class="green-text tooltipped save-row save-work" data-position="top" data-delay="50" data-tooltip="Lưu">
                            <i class="material-icons">done</i>
                        </a>
                        <a class="red-text tooltipped save-row cancel-work" data-position="top" data-delay="50" data-tooltip="Lưu">
                            <i class="material-icons">highlight_off</i>
                        </a>
                        <a href="#" class="red-text delete-button tooltipped edit-row" data-position="top" data-delay="50" data-tooltip="Xóa">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td class="center">
                    <a class="row-display modal-trigger"
                       data-value="@work.WorkName"
                       href="/TaskList?workId=@work.WorkId">
                        @work.WorkName
                    </a>
                    <input name="WorkName"
                           class="row-edit"
                           value="@work.WorkName"
                           type="text" />
                </td>
                <td class="parent">
                    <span style="background: @work.PriorityColor!important"
                          data-value="@work.PriorityId"
                          class="priority row-display child new badge red lighten-1 gradient-shadow"
                          data-badge-caption="">
                        @work.PriorityName
                    </span>
                    <select name="PriorityId"
                            class="row-edit">
                        @foreach (var priority in Model.Priorities)
                        {
                            if (priority.Id == @work.PriorityId)
                            {
                                <option selected value="@priority.Id">
                                    @priority.Name
                                </option>
                            }
                            else
                            {
                                <option value="@priority.Id">
                                    @priority.Name
                                </option>
                            }
                        }
                    </select>
                </td>
                <td class="center">@work.NumberOfTask</td>
                <td class="center">@work.NumberOfUnFinishTask</td>
                <td>@work.ApplicationUserName</td>
                <td>
                    <span data-value="@work.WorkDateBegin"
                          class="row-display date-display">
                        @work.WorkDateBegin.ToString("dd/MM/yyyy")
                    </span>
                    <input value="@work.WorkDateBegin"
                           data-value="@work.WorkDateBegin.ToString("dd/MM/yyyy")"
                           class="row-edit datepicker" 
                           name="WorkDateBegin" />
                </td>
                <td>
                    <span data-value="@work.WorkTimeExpired"
                          class="row-display date-display">
                    @work.WorkTimeExpired.ToString("dd/MM/yyyy")</span>
                    <input value="@work.WorkTimeExpired.ToString("dd/MM/yyyy")"
                           data-value="@work.WorkTimeExpired.ToString("dd/MM/yyyy")"
                           class="row-edit datepicker"
                           name="WorkTimeExpired" />
                </td>
                <td>@work.WorkModifiedTime.Value.ToString("dd/MM/yyyy")</td>
                <td>
                    <span data-value="@work.WorkStatusId"
                          class="row-display">
                        @work.WorkStatusDecription
                    </span>
                    <select name="WorkStatusId"
                            class="row-edit">
                        @foreach (var workStatus in Model.WorkStatuses)
                        {
                            if (workStatus.Id == work.WorkStatusId)
                            {
                                <option selected value="@workStatus.Id">
                                    @workStatus.Decription
                                </option>
                            }
                            else
                            {
                                <option value="@workStatus.Id">
                                    @workStatus.Decription
                                </option>
                            }
                        }
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagings" id="data-paging">
    <div class="inner">
        @{
            int previousPage = Model.CurrentPage;
            int nextPage = Model.CurrentPage + 2;
        }
        @if (previousPage - 1 >= 0)
        {
            <span class="action prev" value="@previousPage">Trước đó</span>
        }

        @for (int p = 1; p <= Model.NumberOfPages; p++)
        {
            if (p == Model.CurrentPage + 1)
            {
                <span class="number active" value="@p">
                    @p
                </span>
            }
            else
            {
                <span class="number" value="@p">
                    @p
                </span>
            }
        }
        @if (nextPage - 1 < Model.NumberOfPages)
        {
            <span class="action next" value="@nextPage">
                Tiếp theo
            </span>
        }

    </div>
</div>


